*{
    font-family: 'Poppins', sans-serif;
  }
  body {
      background-color: rgb(0, 0, 0);
  }
  
  span.name{
    float: left;
    padding: 20px;
    color: #fff;
    padding-top: 15px;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 40px;
  }
  
  .scroll_button{
      position: fixed;
      padding: 5px;
      color:#fff;
      bottom: 0;
      right:0;
      margin-bottom: 20px;
      margin-right: 20px;
      border-radius: 50%;
      border: 3px solid orange;
  
  }
  .scroll_button:hover{
      cursor: pointer;
      background-color: #fff;
      color:#000;
  }
  
    
    a {
      color: rgb(255, 255, 255);
      text-decoration: underline;
      text-transform: uppercase;
      /* letter-spacing: -7px; */
    }
    p{
      color: #fff;
      line-height: 1;
      direction: rtf;
      word-spacing: 1px;
      /* letter-spacing: 30px; */
    
    }
    
    
    i {
      color: #fff;
    }
    a{
      text-decoration: none;
    }
    .link:hover {
      border-bottom:2px solid gold;
      /* font-size: 100px; */
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    ul{
      /* list-style-type: lower-alpha; */
      list-style-type: none;
      /* display: inline-block; */
      /* text-align: right; */
      display: inline;
      /* list-style-image: url('../Jellyfish.jpg'); */
    }
    
    /* div.container{
      display: inline;
      clear: both;
    } */
    div.btn-container{
      width: 100%;
      margin-top: 20px;
    } 
    .btn-container:hover{
      color: black;
    } 
    
    li{
      display: inline-block;
      text-align: right;
    }
  div.navigation{
    opacity: 1;
    position: relative;
  }
   
    ul.nav-list{
      float: right;
      margin-right: 30px;
    }
    ul li {
      font-weight: lighter;
      /* margin-left:10px; */
      font-size: 15px;
      text-align: center;
      color:#fff;
      margin-left: 20px;
      padding-bottom: 10px;
    }
   ul li.active{
      border-bottom:2px solid #ffbd39;
      
    }
   div.slide-content h3.slide-content-hello{
     color:#ffbd39;
     font-weight: thinner;
     letter-spacing: 7px;
     text-transform: uppercase;
     font-size: 14px;
     
   }

   h3.slide-content-hello {
     color: #ffbd39;
     letter-spacing: 10px;
   }
   div.slide-content{
    position: absolute;
    top:240px;
    left: 50px;
    line-height: 50px;
    max-width:100px;
   }
  
   button.btn-hire-me{
     background-color: #ffbd39;
     color:#fff;
     border-radius: 25px;
     border:0;
    padding:15px 15px;
      display: inline;
    text-transform: uppercase;
      font-size: 14px; 
      outline: hidden;
         
   }
   .btn-hire-me:hover{
     color: #ffbd39;
     background-color: #000;
border:2px solid grey;
   }
   
   button.btn-my-works{
    outline: hidden;   
     
    font-size: 14px;    
    background-color: #ffbd39;
    color:#fff;
    padding: 5px;
    border-radius: 25px;
    border:0;
    padding:15px 15px;
    display: inline;
    background: transparent;
    border:2px solid grey;
    text-transform: uppercase;
    margin-left: 10px;
    
  }
   h1.slide-content-about{
     color:#ffbd39;
     font-weight: bolder;
   }
   .text-white{
     color: #fff;
     padding-right: 10px;
   }
   h1{
     font-size: 40px;
     margin: 0;
     padding: 0;
   }
    img.slide1{
      width: 100%;
      /* z-index: -1; */
      /* position: absolute; */
      /* right: 150px; */
    }
    div.slider {
      width:100%;
      display: block;
      height: 400px;
    }

    div.slider_image {
       margin-top:-150px;
      width: 45%;
      float:left;
      z-index:-3;
    }

    div.slider_image img {
      height: 100%;
      width:500px;
    }

    
    div.content {
      float: left;
      width: 45%;
      max-width:55%;
      padding-left: 30px;
      height: 100%;
      padding-top: 190px;
    }
    
    ul li:hover{
      border-bottom:2px solid #ffbd39;
      cursor: pointer;
    }
    body{
    background-color: black
}
div.resume {
  position: relative;
  top:150;
  height: 400px;
  padding-bottom: 40px;
}
h1.resume1{
    color: white;
    text-align: center;
    text-shadow: 10px 30px 2px rgb(49, 49, 49);font-size: 60px
}
p.text1{
    color: gray;
    text-align: left;
    margin-left: 10px;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif
}
.about_container{
    /* text-align: center; */
    width: 100%;
    height: 940px;
    margin-top:180px;
}
.resume_row1 {
  width:100%;
  position: relative;
  height: 400px;
}

div.resume_row1 div.container1 {
  position: absolute;
  left:0;
  margin-left:50px;
  margin-top: 30px;
  height: 200px;
}

div.resume_row1 div.container2 {
  position: absolute;
  right:0;
  margin-left:50px;
  margin-top: 30px;
  height: 200px;
}


.date1{
    color: rgb(219, 153, 10);
    font-size: 25px;
    font-family: cursive;
    margin-left: 10px
}
.about{
    text-align: center;
    color: gray;
    margin-top:30px;
}
.degree{
    margin-left: 10px;
    font-size: 25px;
    color: white
}
div.cv_btn {
  position: absolute;
  height: 80px;
  width:100%;
  /* margin-top:40px; */
  text-align: center;
}
button.cv{
    color:  black;
    border:  rgb(219, 153, 10);
    border-radius: 50px;
    background-color:  rgb(219, 153, 10);
    width: 150px;
    height: 100%;
    bottom:0;

}
    /* #shadow{
      text-shadow: 5px 4px 4px gray
    }
     */
    div.preloader {
      position: fixed;
      height:100vh;
      z-index:999999;
      width: 100%;
      top:0;
      left:0;
      background-color: rgba(0,0,0,0.8);

    }

    div.loading_icon {
      position: absolute;
      height: 100px;
      width: 100px;
      top:45%;
      left:45%;
    }

    .lds-ripple {
      display: inline-block;
      width: 80px;
      height: 80px;
      position: absolute;
      height: 100px;
      width: 100px;
      top:45%;
      left:45%;
    }
    .lds-ripple div {
      position: absolute;
      border: 4px solid #ffbd39;
      /* opacity: 1; */
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) 1s;
    }
    .lds-ripple div:nth-child(2) {
      animation-delay: 0.5s;
    }
    @keyframes lds-ripple {
      0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
      }
      100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 1;
      }
    }
 
.img2{
    width: 40%;
    height: 100%;
    position: absolute;
    left:0;
}
div.about{
    width: 60%;
    position: absolute;
    height: 100%;
    right:0;
}
#abouthead {
    text-align: left;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 150px;  
    text-shadow: 10px 10px rgb(15, 1, 1);  
}
.quote{
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 150px;
    color: rgb(155, 151, 151);
}
.con{
    margin-right: 250px;
}
.con h4{
    padding: 0px;
    font-size: 15px;
    color: rgb(155, 151, 151);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    padding-left: 0px;
    
    
}
.con h4 b{
    padding-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.button2 h4{
    text-align: center;
    color: black;
    font-size: 10px;
    width: 150px;
     padding-top: 20px;
    padding-bottom: 20px; 
    border:0.5px;
    background-color: orange;
    transition: 0.35s;
    margin-top:70px;
    border-radius: 50px;  
    text-decoration: none;
    /* display: inline-block; */
    margin-left:0px;

}
    
